html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.bg2{
    position: fixed;
    right: 0;
    bottom: 0;
    background-size: contain;
    z-index: -1000;
    width: 100%;
    height: 100%;
}
.form{
    position: relative;
    top: -535px;
    left: 30px;
    text-align: center;
    font-size: 22px;
}
div, input{
    position: relative;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    padding-right: 60px;
}
.box{
    position: relative;
    border: transparent;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid gray;
    top: -10px;
    padding: 150px;
    padding-bottom: 390px;
    margin-left: 450px;
    margin-right: 450px;
}
h2, h4{
    text-align: center;
    color: brown;
}
.btn{
    position: relative;
    top: -540px;
    left: 645px;
    padding: 10px;
    border-radius: 10px;
    transition: transform .2s;
}
.btn:hover{
    background-color: lightgreen;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}
.btn1{
    position: relative;
    color: lightgoldenrodyellow;
    top: -584px;
    left: 795px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: lightgreen;
}
h3{
    position: relative;
    top: -540px;
    color: lightgoldenrodyellow;
    left: 510px;
}